---
import { compareDesc } from "date-fns";
import { SITE_DESCRIPTION } from "@/config";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { PostFrontmatter } from "@/types";
import PostCard from "@/components/PostCard.astro";

const posts = (await Astro.glob<PostFrontmatter>("./*.mdx"))
  .filter((post) => post.frontmatter.draft !== true)
  .sort((a, b) =>
    compareDesc(
      new Date(a.frontmatter.pubDate),
      new Date(b.frontmatter.pubDate)
    )
  );
---

<BaseLayout title="Blogs - Rohid" description={SITE_DESCRIPTION}>
  <main>
    <div class="max-w-4xl mx-auto px-6 space-y-32 my-16">
      <section class="text-center">
        <h1 class="text-4xl font-bold mb-4">Posts</h1>
        <p class="text-gray-600 text-lg">
          I like to write about things that I'm interested in. I hope you will
          find some of it interesting and helpfull too.
        </p>
      </section>
      <section>
        <div class="grid sm:grid-cols-2 gap-8">
          {
            posts.map((post) => (
              <PostCard url={post.url} data={post.frontmatter} />
            ))
          }
        </div>
      </section>
    </div>
  </main>
</BaseLayout>
