---
import compareDesc from "date-fns/compareDesc";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/config";
import type { Post } from "@/types/post";
import PostsGrid from "@/components/PostsGrid.astro";

const name = "Rohid";
const posts = (await Astro.glob("./blog/*.{md,mdx}"))
  .sort((a, b) =>
    compareDesc(new Date(a.frontmatter.date), new Date(b.frontmatter.date))
  )
  .slice(0, 6)
  .map((data) => {
    const post: Post = {
      url: data.url,
      date: data.frontmatter.date,
      readingTime: data.frontmatter.readingtime,
      title: data.frontmatter.title,
      description: data.frontmatter.description,
      thumbnail: data.frontmatter.thumbnail,
    };
    return post;
  });
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <div class="mx-auto max-w-4xl px-6 my-16 space-y-32">
      <section>
        <div class="">
          <p class="text-2xl font-semibold text-gray-700">Hi 👋, I&apos;m</p>
          <h1 class="text-6xl font-black my-4">{name}</h1>
          <p class="text-xl text-gray-600">
            I&apos;m a Self-thought full-stack developer
          </p>
        </div>
      </section>

      <section>
        <div class="mb-8">
          <h3 class="text-2xl font-bold">Recent Posts</h3>
        </div>
        <PostsGrid posts={posts} />
      </section>
    </div>
  </main>
</BaseLayout>
