---
import { compareDesc } from "date-fns";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/config";
import type { Post, BlogFrontmatter } from "@/types";
import PostsGrid from "@/components/PostsGrid.astro";

const name = "Rohid";

const posts = (await Astro.glob<BlogFrontmatter>("./posts/*.mdx"))
  .filter((post) => post.frontmatter.draft !== true)
  .sort((a, b) =>
    compareDesc(new Date(a.frontmatter.date), new Date(b.frontmatter.date))
  )
  .slice(0, 6)
  .map(({ url, frontmatter }) => {
    const post: Post = {
      url: url || "/404",
      date: frontmatter.date,
      readingTime: frontmatter.readingTime,
      title: frontmatter.title,
      description: frontmatter.description,
      coverImage: frontmatter.coverImage,
    };
    return post;
  });
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <div class="mx-auto max-w-4xl px-6 my-16 space-y-32">
      <section>
        <div class="text-center">
          <p class="text-2xl font-semibold text-gray-700">Hi 👋, I&apos;m</p>
          <h1 class="text-6xl font-black my-4">{name}</h1>
          <p class="text-xl text-gray-600">
            I&apos;m a Self-thought full-stack developer
          </p>
        </div>
      </section>

      <section>
        <div class="mb-8">
          <h2 class="text-2xl font-bold">Recent Posts</h2>
        </div>
        <PostsGrid posts={posts} />
      </section>
    </div>
  </main>
</BaseLayout>
