---
import { compareDesc } from "date-fns";
import { SITE_DESCRIPTION } from "@/config";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { Post, BlogFrontmatter } from "@/types";
import PostsGrid from "@/components/PostsGrid.astro";

const posts = (await Astro.glob<BlogFrontmatter>("./posts/*.mdx"))
  .filter((post) => post.frontmatter.draft !== true)
  .sort((a, b) =>
    compareDesc(new Date(a.frontmatter.date), new Date(b.frontmatter.date))
  )
  .map(({ url, frontmatter }) => {
    const post: Post = {
      url: url || "/404",
      date: frontmatter.date,
      readingTime: frontmatter.readingTime,
      title: frontmatter.title,
      description: frontmatter.description,
      coverImage: frontmatter.coverImage,
    };
    return post;
  });
---

<BaseLayout title="Blogs - Rohid" description={SITE_DESCRIPTION}>
  <main>
    <div class="max-w-4xl mx-auto px-6 space-y-32 my-16">
      <section>
        <div class="mb-8">
          <h2 class="text-2xl font-bold">All Posts</h2>
        </div>
        <PostsGrid posts={posts} />
      </section>
    </div>
  </main>
</BaseLayout>
