<section>
  <div class="w-full px-6 py-12 rounded-md border-gray-200 border">
    <div class="text-center mb-8">
      <h1 class="text-3xl mb-4 font-bold">Join the Newsletter</h1>
      <p class="text-lg text-gray-600">
        Subscribe to get my latest content by email.
      </p>
    </div>
    <form>
      <div class="flex gap-8 justify-center flex-col sm:flex-row">
        <input
          type="email"
          placeholder="Email Address"
          class="px-6 h-12 w-full rounded-md border border-gray-100 bg-gray-50 max-w-sm"
        />
        <button
          type="submit"
          class="px-6 h-12 rounded-md bg-gray-900 hover:bg-gray-800 text-gray-50"
          >Subscribe</button
        >
      </div>
    </form>
    <div class="mt-4 text-center">
      <p class="text-gray-500">Unsubsribe at any time.</p>
    </div>
  </div>
</section>
