---
import { compareDesc } from "date-fns";
import { SITE_DESCRIPTION } from "@/config";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { ProjectFrontmatter } from "@/types";
import ProjectCard from "@/components/ProjectCard.astro";

const projects = (await Astro.glob<ProjectFrontmatter>("./*.mdx"))
  .filter((post) => post.frontmatter.draft !== true)
  .sort((a, b) =>
    compareDesc(
      new Date(a.frontmatter.launchDate),
      new Date(b.frontmatter.launchDate)
    )
  );
---

<BaseLayout title="Blogs - Rohid" description={SITE_DESCRIPTION}>
  <main>
    <div class="max-w-4xl mx-auto px-6 space-y-32 my-16">
      <section class="text-center">
        <h1 class="text-4xl font-bold mb-4">Projects</h1>
        <p class="text-gray-600 text-lg">
          Here are some of my projects that I would like to share with you.
        </p>
      </section>
      <section>
        <div class="grid sm:grid-cols-2 gap-8">
          {
            projects.map((project) => (
              <ProjectCard url={project.url} data={project.frontmatter} />
            ))
          }
        </div>
      </section>
    </div>
  </main>
</BaseLayout>
